@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #200820;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: -webkit-grabbing;
}

body {
  background: linear-gradient(90deg, #7F00FF, #E100FF);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #D07090;
  margin-bottom: 45px;
}

header ul {
  display: flex;
}

header ul li {
  padding: 8px;
  border-right: 2px dashed #D07090;
}

header ul li:first-child {
  border-left: 2px dashed #D07090;
}
header ul li a {
  transition: 300ms;
}

header ul li a:hover {
  color: #885078;
  text-decoration: underline;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}

.container .name h5 {
  font-size: 25px;
}

#arrow {
  font-size: 30px;
  cursor: -webkit-grabbing;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

#animation {
  transition: 300ms;
}

.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.active {
  display: block !important;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex div {
  margin: 15px;
  flex-basis: 15%;
} 

.flex img {
  max-width: 100px;
}

.form {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: double rgba(208, 112, 144, 0.384);
  padding: 25px;
  border-radius: 15px;
}

.form input {
  width: 50%;
  background: linear-gradient(90deg, #D07090, #FFFFFF);
  border-radius: 5px 0px 0px 5px;
  padding: 5px 10px ;
  border: none;
}

.form input:hover {
  background: linear-gradient(90deg, #FFFFFF, #D07090);
}

.form button {
  width: 15%;
  background: linear-gradient(90deg, #D07090, #FFFFFF);
  border-radius: 0px 5px 5px 0px;
  padding: 5px 10px;
  color: #200820;
  font-weight: 600;
  border: none;
  cursor: -webkit-grabbing;
  transition: 300ms;
  margin-left: -4px;
  margin-top: 20px;
}

.form button:hover {
  background: linear-gradient(90deg, #FFFFFF, #D07090);
  color: #7F00FF;
}

@media only screen and (max-width: 1024px) {
  .form {
    width: 100%; 
  }

  .flex {
    display: block;
  }
}

@media only screen and (max-width: 480px) { 
  .container .name h1 {
    font-size: 30px;
  }
  .container .name h5 {
    font-size: 15px;
  }
  ul {
    font-size: 10px;
  }

  #about p {
    max-width: 80%;
    text-align: justify;
  }
}
 